release/xcenter/WEB-INF/wsdl/orce/poslog_v1_0/PoslogServicesApiService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://v1_0.poslog.webservices.csx.dtv.com/" xmlns:tns="http://v1_0.poslog.webservices.csx.dtv.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="RelateProcessingException" type="tns:RelateProcessingException"/>

  <xs:element name="postTransaction" type="tns:postTransaction"/>

  <xs:element name="postTransactionResponse" type="tns:postTransactionResponse"/>

  <xs:complexType name="postTransaction">
    <xs:sequence>
      <xs:element name="transaction" type="tns:TransactionType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TransactionType">
    <xs:sequence>
      <xs:element name="RetailStoreID" type="xs:string"/>
      <xs:element name="WorkstationID" type="xs:string"/>
      <xs:element name="SequenceNumber" type="xs:string"/>
      <xs:element name="BusinessDayDate" type="xs:date"/>
      <xs:element name="BeginDateTime" type="xs:dateTime"/>
      <xs:element name="EndDateTime" type="xs:dateTime"/>
      <xs:element name="OperatorID" type="xs:string"/>
      <xs:element name="CurrencyCode" type="xs:string"/>
      <xs:element name="RetailTransaction" type="tns:RetailTransactionType"/>
      <xs:element name="PosTransactionProperties" type="tns:PosTransactionPropertiesType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="CancelFlag" type="xs:boolean"/>
    <xs:attribute name="Action" type="xs:string"/>
    <xs:attribute name="TransactionType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="RetailTransactionType">
    <xs:sequence>
      <xs:element name="LineItem" type="tns:LineItemType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Total" type="tns:TotalType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CustomerAccount" type="tns:CustomerAccountType"/>
      <xs:element name="Customer" type="tns:PoslogCustomerType"/>
      <xs:element name="TransactionLink" type="tns:TransactionLinkType"/>
      <xs:element name="PostVoidReasonCode" type="xs:string"/>
      <xs:element name="PostVoidComment" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="Version" type="xs:string"/>
    <xs:attribute name="TypeCode" type="xs:string"/>
    <xs:attribute name="TransactionStatus" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="LineItemType">
    <xs:sequence>
      <xs:element name="SequenceNumber" type="xs:string"/>
      <xs:element name="BeginDateTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="EndDateTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="SaleForDelivery" type="tns:SaleForDeliveryType" minOccurs="0"/>
      <xs:element name="PreviousLayaway" type="tns:PreviousLayawayType" minOccurs="0"/>
      <xs:element name="PreviousCustomerOrder" type="tns:PreviousCustomerOrderType" minOccurs="0"/>
      <xs:element name="CustomerOrderForDelivery" type="tns:CustomerOrderForDeliveryType" minOccurs="0"/>
      <xs:element name="CustomerOrderForPickup" type="tns:CustomerOrderForPickupType" minOccurs="0"/>
      <xs:element name="Return" type="tns:ReturnType" minOccurs="0"/>
      <xs:element name="Sale" type="tns:SaleType" minOccurs="0"/>
      <xs:element name="Tender" type="tns:TenderType" minOccurs="0"/>
      <xs:element name="Tax" type="tns:TaxType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="VoidFlag" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="SaleForDeliveryType">
    <xs:sequence>
      <xs:element name="ItemID" type="xs:string"/>
      <xs:element name="UnitCostPrice" type="xs:decimal"/>
      <xs:element name="RegularSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ActualSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ExtendedAmount" type="xs:decimal"/>
      <xs:element name="Quantity" type="xs:decimal"/>
      <xs:element name="SerialNumber" type="xs:string"/>
      <xs:element name="Associate" type="tns:AssociateType"/>
      <xs:element name="PercentageOfItem" type="tns:PercentageOfItemType"/>
      <xs:element name="RetailPriceModifier" type="tns:RetailPriceModifierType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Delivery" type="tns:DeliveryType"/>
    </xs:sequence>
    <xs:attribute name="ItemType" type="xs:string"/>
    <xs:attribute name="Action" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="AssociateType">
    <xs:sequence>
      <xs:element name="AssociateID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PercentageOfItemType">
    <xs:sequence>
      <xs:element name="AssociateID" type="xs:string"/>
      <xs:element name="Percentage" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RetailPriceModifierType">
    <xs:sequence>
      <xs:element name="SequenceNumber" type="xs:string"/>
      <xs:element name="Amount" type="tns:AmountType"/>
      <xs:element name="PromotionID" type="xs:string"/>
      <xs:element name="ReasonCode" type="xs:string"/>
      <xs:element name="Coupon" type="tns:CouponType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="VoidFlag" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="Action" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CouponType">
    <xs:sequence>
      <xs:element name="ScanCode" type="xs:string"/>
      <xs:element name="ExpirationDate" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeliveryType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Address" type="tns:PoslogAddressType"/>
      <xs:element name="TelephoneNumber" type="xs:string"/>
      <xs:element name="TrackingNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PoslogAddressType">
    <xs:sequence>
      <xs:element name="AddressLine" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="State" type="xs:string"/>
      <xs:element name="PostalCode" type="xs:string"/>
      <xs:element name="CountryCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PreviousLayawayType">
    <xs:sequence>
      <xs:element name="POSIdentity" type="tns:POSIdentityType"/>
      <xs:element name="ItemID" type="xs:string"/>
      <xs:element name="UnitCostPrice" type="xs:decimal"/>
      <xs:element name="RegularSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ActualSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ExtendedAmount" type="xs:decimal"/>
      <xs:element name="Quantity" type="xs:decimal"/>
      <xs:element name="SerialNumber" type="xs:string"/>
      <xs:element name="Associate" type="tns:AssociateType"/>
      <xs:element name="PercentageOfItem" type="tns:PercentageOfItemType"/>
      <xs:element name="RetailPriceModifier" type="tns:RetailPriceModifierType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Action" type="xs:string"/>
    <xs:attribute name="ItemType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="POSIdentityType">
    <xs:sequence>
      <xs:element name="POSItemID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PreviousCustomerOrderType">
    <xs:sequence>
      <xs:element name="ItemID" type="xs:string"/>
      <xs:element name="UnitCostPrice" type="xs:decimal"/>
      <xs:element name="RegularSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ActualSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ExtendedAmount" type="xs:decimal"/>
      <xs:element name="Quantity" type="xs:decimal"/>
      <xs:element name="SerialNumber" type="xs:string"/>
      <xs:element name="RetailPriceModifier" type="tns:RetailPriceModifierType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Associate" type="tns:AssociateType"/>
      <xs:element name="PercentageOfItem" type="tns:PercentageOfItemType"/>
      <xs:element name="InventoryReservationID" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="ItemType" type="xs:string"/>
    <xs:attribute name="Action" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="CustomerOrderForDeliveryType">
    <xs:sequence>
      <xs:element name="ItemID" type="xs:string"/>
      <xs:element name="UnitCostPrice" type="xs:decimal"/>
      <xs:element name="RegularSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ActualSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ExtendedAmount" type="xs:decimal"/>
      <xs:element name="Quantity" type="xs:decimal"/>
      <xs:element name="SerialNumber" type="xs:string"/>
      <xs:element name="Associate" type="tns:AssociateType"/>
      <xs:element name="RetailPriceModifier" type="tns:RetailPriceModifierType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PercentageOfItem" type="tns:PercentageOfItemType"/>
      <xs:element name="Delivery" type="tns:DeliveryType"/>
      <xs:element name="InventoryReservationID" type="xs:string"/>
      <xs:element name="From" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="Action" type="xs:string"/>
    <xs:attribute name="ItemType" type="xs:string"/>
    <xs:attribute name="Setup" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="CustomerOrderForPickupType">
    <xs:sequence>
      <xs:element name="ItemID" type="xs:string"/>
      <xs:element name="UnitCostPrice" type="xs:decimal"/>
      <xs:element name="RegularSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ActualSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ExtendedAmount" type="xs:decimal"/>
      <xs:element name="Quantity" type="xs:decimal"/>
      <xs:element name="SerialNumber" type="xs:string"/>
      <xs:element name="Associate" type="tns:AssociateType"/>
      <xs:element name="RetailPriceModifier" type="tns:RetailPriceModifierType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PercentageOfItem" type="tns:PercentageOfItemType"/>
      <xs:element name="Delivery" type="tns:DeliveryType"/>
      <xs:element name="InventoryReservationID" type="xs:string"/>
      <xs:element name="From" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="ItemType" type="xs:string"/>
    <xs:attribute name="OrderStatus" type="xs:string"/>
    <xs:attribute name="Action" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="ReturnType">
    <xs:sequence>
      <xs:element name="ItemID" type="xs:string"/>
      <xs:element name="UnitCostPrice" type="xs:decimal"/>
      <xs:element name="RegularSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ActualSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ExtendedAmount" type="xs:decimal"/>
      <xs:element name="Quantity" type="xs:decimal"/>
      <xs:element name="SerialNumber" type="xs:string"/>
      <xs:element name="Associate" type="tns:AssociateType"/>
      <xs:element name="PercentageOfItem" type="tns:PercentageOfItemType" minOccurs="0"/>
      <xs:element name="TransactionLink" type="tns:TransactionLinkType"/>
      <xs:element name="Disposal" type="xs:string"/>
      <xs:element name="Reason" type="xs:string"/>
      <xs:element name="ReturnType" type="xs:string"/>
      <xs:element name="ReasonComment" type="xs:string"/>
      <xs:element name="RetailPriceModifier" type="tns:RetailPriceModifierType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ItemType" type="xs:string"/>
    <xs:attribute name="Action" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="TransactionLinkType">
    <xs:sequence>
      <xs:element name="RetailStoreID" type="xs:string"/>
      <xs:element name="WorkstationID" type="xs:string"/>
      <xs:element name="SequenceNumber" type="xs:string"/>
      <xs:element name="BusinessDayDate" type="xs:date"/>
    </xs:sequence>
    <xs:attribute name="ReasonCode" type="xs:string"/>
    <xs:attribute name="EntryMethod" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="SaleType">
    <xs:sequence>
      <xs:element name="ItemID" type="xs:string"/>
      <xs:element name="UnitCostPrice" type="xs:decimal"/>
      <xs:element name="RegularSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ActualSalesUnitPrice" type="xs:decimal"/>
      <xs:element name="ExtendedAmount" type="xs:decimal"/>
      <xs:element name="Quantity" type="xs:decimal"/>
      <xs:element name="SerialNumber" type="xs:string"/>
      <xs:element name="Associate" type="tns:AssociateType"/>
      <xs:element name="PercentageOfItem" type="tns:PercentageOfItemType"/>
      <xs:element name="RetailPriceModifier" type="tns:RetailPriceModifierType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ItemType" type="xs:string"/>
    <xs:attribute name="Action" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="TenderType">
    <xs:sequence>
      <xs:element name="TenderID" type="xs:string"/>
      <xs:element name="Amount" type="xs:decimal"/>
      <xs:element name="Authorization" type="tns:AuthorizationType"/>
      <xs:element name="CreditDebit" type="tns:CreditDebitType"/>
      <xs:element name="GiftCard" type="tns:GiftCardType"/>
      <xs:element name="Voucher" type="tns:VoucherType"/>
      <xs:element name="CustomerVerification" type="tns:CustomerVerificationType"/>
      <xs:element name="Check" type="tns:CheckType"/>
      <xs:element name="Coupon" type="tns:CouponType"/>
    </xs:sequence>
    <xs:attribute name="TenderType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="AuthorizationType">
    <xs:sequence>
      <xs:element name="RequestedAmount" type="xs:decimal"/>
      <xs:element name="AuthorizationCode" type="xs:string"/>
      <xs:element name="AdjudicationCode" type="xs:string"/>
      <xs:element name="AuthorizationDateTime" type="xs:dateTime"/>
      <xs:element name="ReferenceNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreditDebitType">
    <xs:sequence>
      <xs:element name="PrimaryAccountNumber" type="xs:string"/>
      <xs:element name="ReconciliationCode" type="xs:string"/>
      <xs:element name="ExpirationDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GiftCardType">
    <xs:sequence>
      <xs:element name="CardNumber" type="xs:string"/>
      <xs:element name="DateSold" type="xs:string"/>
      <xs:element name="InitialBalance" type="xs:string"/>
      <xs:element name="CurrentBalance" type="xs:string"/>
      <xs:element name="Authorization" type="tns:AuthorizationType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VoucherType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string"/>
      <xs:element name="FaceValueAmount" type="xs:decimal"/>
      <xs:element name="SerialNumber" type="xs:string"/>
      <xs:element name="MallCertificate" type="xs:string"/>
      <xs:element name="ExpirationDate" type="xs:dateTime"/>
      <xs:element name="UnspentAmount" type="xs:decimal"/>
    </xs:sequence>
    <xs:attribute name="TypeCode" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="CustomerVerificationType">
    <xs:sequence>
      <xs:element name="PersonalID" type="tns:PersonalIDType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PersonalIDType">
    <xs:sequence>
      <xs:element name="IDNumber" type="xs:string"/>
      <xs:element name="Issuer" type="xs:string"/>
      <xs:element name="Province" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="IDType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="CheckType">
    <xs:sequence>
      <xs:element name="AccountNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaxType">
    <xs:sequence>
      <xs:element name="TaxAuthority" type="xs:string"/>
      <xs:element name="TaxableAmount" type="xs:decimal"/>
      <xs:element name="Amount" type="xs:decimal"/>
      <xs:element name="Percent" type="xs:decimal"/>
      <xs:element name="TaxLocationID" type="xs:string"/>
      <xs:element name="TaxExemption" type="tns:TaxExemptionType"/>
      <xs:element name="TaxOverride" type="tns:TaxOverrideType"/>
    </xs:sequence>
    <xs:attribute name="TaxType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="TaxExemptionType">
    <xs:sequence>
      <xs:element name="CustomerExemptionID" type="xs:string"/>
      <xs:element name="ExemptTaxAmount" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaxOverrideType">
    <xs:sequence>
      <xs:element name="OriginalPercent" type="xs:decimal"/>
      <xs:element name="OriginalTaxAmount" type="xs:decimal"/>
      <xs:element name="NewTaxPercent" type="xs:decimal"/>
      <xs:element name="NewTaxAmount" type="xs:decimal"/>
      <xs:element name="ReasonCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TotalType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="TotalType" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CustomerAccountType">
    <xs:sequence>
      <xs:element name="LoyaltyAccount" type="tns:LoyaltyAccountType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LoyaltyAccountType">
    <xs:sequence>
      <xs:element name="LoyaltyAccountID" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="TypeCode" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="PoslogCustomerType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Address" type="tns:PoslogAddressType"/>
      <xs:element name="TelephoneNumber" type="xs:string"/>
      <xs:element name="eMail" type="xs:string"/>
      <xs:element name="AccountNumber" type="xs:string"/>
      <xs:element name="AlternateKey" type="tns:PoslogAlternateKeyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PoslogAlternateKeyType">
    <xs:sequence>
      <xs:element name="AlternateID" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="TypeCode" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="PosTransactionPropertiesType">
    <xs:sequence>
      <xs:element name="PosTransactionPropertyCode" type="xs:string"/>
      <xs:element name="PosTransactionPropertyValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="postTransactionResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:POSLogType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="POSLogType">
    <xs:sequence>
      <xs:element name="Transaction" type="tns:TransactionReturnType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TransactionReturnType">
    <xs:sequence>
      <xs:element name="ErrorDetails" type="xs:string"/>
      <xs:element name="LoyaltySystemDetails" type="xs:string"/>
      <xs:element name="LoyaltyPoints" type="tns:LoyaltyPointsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="retail-transaction-id" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="LoyaltyPointsType">
    <xs:sequence>
      <xs:element name="LoyaltyAccountID" type="xs:string"/>
      <xs:element name="LoyaltyProgramID" type="xs:string"/>
      <xs:element name="LoyaltyProgramLevelID" type="xs:string"/>
      <xs:element name="PointsBalance" type="tns:PointsBalanceType"/>
      <xs:element name="TransactionPoints" type="tns:TransactionPointsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PointsBalanceType">
    <xs:sequence>
      <xs:element name="Points" type="tns:PointsEntryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PointsEntryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Type" type="tns:PointsType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TransactionPointsType">
    <xs:sequence>
      <xs:element name="Points" type="tns:PointsEntryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RelateProcessingException">
    <xs:sequence>
      <xs:element name="faultDetail" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="relateExceptionCode" type="tns:relateExceptionCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PointsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Earned"/>
      <xs:enumeration value="Escrow"/>
      <xs:enumeration value="Bonus"/>
      <xs:enumeration value="YTD"/>
      <xs:enumeration value="LTD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="relateExceptionCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SESSION_EXPIRED"/>
      <xs:enumeration value="LDAP_BIND_INVALID_CREDENITAL"/>
      <xs:enumeration value="OPERATION_UNSUPPORTED_FOR_LDAP"/>
      <xs:enumeration value="UNABLE_TO_LOAD_REQUEST_ATTRIBUTE"/>
      <xs:enumeration value="ATTRIBUTE_IN_USE"/>
      <xs:enumeration value="NO_RETAILLOC_SEARCH_RESULTS"/>
      <xs:enumeration value="RETAILLOC_MAX_RECORDS_EXCEEDED"/>
      <xs:enumeration value="PROMOTION_HISTORY_NOT_FOUND"/>
      <xs:enumeration value="PROMOTION_HISTORY_MAX_RECORDS_EXCEEDED"/>
      <xs:enumeration value="UNREASONABLE_REQUEST_MAX_RECORD"/>
      <xs:enumeration value="CUSTOMER_ALREADY_EXISTS"/>
      <xs:enumeration value="CUSTOMER_ID_UNSPECIFIED"/>
      <xs:enumeration value="INVALID_LANGUAGE_CODE"/>
      <xs:enumeration value="NAME_POSITION_INVALID"/>
      <xs:enumeration value="ALTERNATE_KEY_VALUE_UNSPECIFIED"/>
      <xs:enumeration value="ALTERNATE_KEY_TYPECODE_UNSPECIFIED"/>
      <xs:enumeration value="ATTRIBUTE_NAME_UNSPECIFIED"/>
      <xs:enumeration value="ATTRIBUTE_NAME_UNDEFINED"/>
      <xs:enumeration value="ATTRIBUTE_NAME_DUPLICATES"/>
      <xs:enumeration value="ATTRIBUTE_TYPE_DUPLICATE"/>
      <xs:enumeration value="INVALID_CUSTOMER_ACTION_SPECIFIED"/>
      <xs:enumeration value="INSUFFICIENT_DATA_SUPPLIED"/>
      <xs:enumeration value="MULTIPLE_VALUES_ON_UNIQUE_ATTRIBUTE_TYPE"/>
      <xs:enumeration value="UNKNOWN_ATTRIBUTE_TYPE"/>
      <xs:enumeration value="CANNOT_ADD_ZERO_VALUES"/>
      <xs:enumeration value="INVALID_ATTRIBUTE_VALUE"/>
      <xs:enumeration value="ATTRIBUTE_VALUE_TOO_LARGE"/>
      <xs:enumeration value="INVALID_DATE_FORMAT"/>
      <xs:enumeration value="VALUE_NOT_IN_ENUMERATED_ATTRIBUTE_TYPE_VALUES"/>
      <xs:enumeration value="MERGE_TARGET_SET_UNSPECIFIED"/>
      <xs:enumeration value="MERGE_CUSTOMER_CREATION_EXCEPTION"/>
      <xs:enumeration value="DIFF_UTILITY_MISCONFIGURED"/>
      <xs:enumeration value="CUSTOMER_SET_OPERATION_ERROR"/>
      <xs:enumeration value="MAXIMUM_LOOKUP_RESULTS_ERROR"/>
      <xs:enumeration value="CUSTOMER_NOTE_EMPTY"/>
      <xs:enumeration value="CUSTOMER_LOOKUP_TIMEOUT_ERROR"/>
      <xs:enumeration value="INVALID_EMAIL_ADDRESS"/>
      <xs:enumeration value="COUPON_SERIAL_NUMBER_INVALID"/>
      <xs:enumeration value="COUPON_ALREADY_REDEEMED"/>
      <xs:enumeration value="COUPON_NOT_FOUND"/>
      <xs:enumeration value="LOYALTY_EXPIRE_POINTS_ERROR"/>
      <xs:enumeration value="EARN_ESCROW_POINTS_ERROR"/>
      <xs:enumeration value="DISTRIBUTE_LOYALTY_AWARDS_ERROR"/>
      <xs:enumeration value="CREATE_PENDING_AWARDS_ERROR"/>
      <xs:enumeration value="LOYALTY_ACTIVITY_NOT_FOUND"/>
      <xs:enumeration value="RETAIL_LOCATION_ID_UNSPECIFIED"/>
      <xs:enumeration value="RETAIL_LOCATION_ID_INVALID"/>
      <xs:enumeration value="RETAIL_LOCATION_NOT_FOUND"/>
      <xs:enumeration value="RETAIL_LOCATION_ATTRIBUTE_NAME_UNSPECIFIED"/>
      <xs:enumeration value="INVALID_RETAIL_LOCATION_ACTION_SPECIFIED"/>
      <xs:enumeration value="MERCHANDISE_HIERARCHY_LEVEL_ID_UNSPECIFIED"/>
      <xs:enumeration value="MERCHANDISE_HIERARCHY_LEVEL_UNSPECIFIED"/>
      <xs:enumeration value="ITEM_ID_DUPLICATE_SPECIFIED"/>
      <xs:enumeration value="ITEM_ID_UNSPECIFIED"/>
      <xs:enumeration value="ITEM_ID_TYPE_UNSPECIFIED"/>
      <xs:enumeration value="NEGATIVE_ITEM_PRICE_SPECIFIED"/>
      <xs:enumeration value="ITEM_PRICE_DECIMAL_SPECIFIED"/>
      <xs:enumeration value="ITEM_PRICE_INVALID"/>
      <xs:enumeration value="ITEM_MSRP_INVALID"/>
      <xs:enumeration value="ITEM_UNIT_COST_INVALID"/>
      <xs:enumeration value="ITEM_TAX_INFORMATION_INVALID"/>
      <xs:enumeration value="ITEM_UPC_SPECIFIED_DATA_EMPTY"/>
      <xs:enumeration value="ITEM_UPC_UNSPECIFIED"/>
      <xs:enumeration value="ITEM_NOT_FOUND"/>
      <xs:enumeration value="ITEM_XREF_NOT_FOUND"/>
      <xs:enumeration value="GENERATE_CARD_ERROR_DUPLICATES_FOUND"/>
      <xs:enumeration value="ALL_CARDS_GENERATED"/>
      <xs:enumeration value="CARD_SERIES_UNSPECIFIED"/>
      <xs:enumeration value="CARD_BATCHES_UNSPECIFIED"/>
      <xs:enumeration value="CARD_BATCH_NOT_FOUND"/>
      <xs:enumeration value="CARD_PREFIX_UNSPECIFIED"/>
      <xs:enumeration value="CARD_PREFIX_NOT_FOUND"/>
      <xs:enumeration value="CARD_SERIES_PREFIX_UNSPECIFIED"/>
      <xs:enumeration value="CARD_SERIES_SEQUENCE_UNSPECIFIED"/>
      <xs:enumeration value="CARD_SERIES_SEQUENCE_INVALID"/>
      <xs:enumeration value="CARD_SERIES_ALREADY_GENERATED"/>
      <xs:enumeration value="CARD_SERIES_NOT_FOUND"/>
      <xs:enumeration value="CARDS_NOT_GENERATED"/>
      <xs:enumeration value="CARD_GROUP_NOT_SPECIFIED"/>
      <xs:enumeration value="CARD_GROUP_NOT_IN_SAME_BATCH"/>
      <xs:enumeration value="CARD_GROUP_FROM_BEFORE_END"/>
      <xs:enumeration value="CARD_GROUP_RANGE_NOT_EXIST"/>
      <xs:enumeration value="SEGMENT_ID_UNSPECIFIED"/>
      <xs:enumeration value="SEGMENT_ID_NOT_FOUND"/>
      <xs:enumeration value="SEGMENT_RUNID_UNSPECIFIED"/>
      <xs:enumeration value="NO_SEGMENTS_FOUND"/>
      <xs:enumeration value="UNKNOWN_SEGMENT_ID"/>
      <xs:enumeration value="JOB_ALREADY_IN_PROCESS"/>
      <xs:enumeration value="JOB_CREATION_FAILURE"/>
      <xs:enumeration value="JOBMANAGER_FAILURE"/>
      <xs:enumeration value="TRANSACTION_ALREADY_EXISTS"/>
      <xs:enumeration value="TRANSACTION_DATA_UNSPECIFIED"/>
      <xs:enumeration value="TRANSACTION_DATA_INVALID"/>
      <xs:enumeration value="NON_UNIQUE_TRANSACTION_PROPERTY_CODES"/>
      <xs:enumeration value="RETAIL_TRANSACTION_ID_INVALID"/>
      <xs:enumeration value="RETAIL_TRANSACTION_ID_ILLEGAL"/>
      <xs:enumeration value="INVALID_BUSINESS_DATE"/>
      <xs:enumeration value="AWARD_PROGRAM_MISSING"/>
      <xs:enumeration value="CARD_SETUP_ERROR"/>
      <xs:enumeration value="ACCOUNT_SETUP_ERROR"/>
      <xs:enumeration value="POST_VOID_TRANSACTION_NOT_FOUND"/>
      <xs:enumeration value="INVALID_CURRENCY_CODE"/>
      <xs:enumeration value="INVALID_CURRENCY_DATE"/>
      <xs:enumeration value="TRANSACTION_CUSTID_ON_TRANS_NOT_FOUND"/>
      <xs:enumeration value="TRANSACTION_ALTKEY_ON_TRANS_NOT_FOUND"/>
      <xs:enumeration value="ACCOUNT_PROCESSING_EXCEPTION"/>
      <xs:enumeration value="CONFIGURATION_ERROR"/>
      <xs:enumeration value="PROGRAM_ALREADY_ASSOCIATED"/>
      <xs:enumeration value="UNEXPECTED_ERROR"/>
      <xs:enumeration value="DATABASE_COMMIT_EXCEPTION"/>
      <xs:enumeration value="XML_MESSAGE_REQUST_TYPE_INVALID"/>
      <xs:enumeration value="DEAL_ENGINE_SETUP_ERROR"/>
      <xs:enumeration value="DEAL_ENGINE_UNSUPPORTED_TYPE"/>
      <xs:enumeration value="DEAL_SETUP_ERROR"/>
      <xs:enumeration value="PROMOTION_SETUP_ERROR"/>
      <xs:enumeration value="PROMOTION_NOT_FOUND"/>
      <xs:enumeration value="PROMOTION_INVALID_DATE_CONFIGURATION"/>
      <xs:enumeration value="PROMOTION_HAS_NO_ENABLED_DEALS"/>
      <xs:enumeration value="MESSAGE_UNSUPPORTED_FOR_WEB"/>
      <xs:enumeration value="MESSAGE_UNSUPPORTED_FOR_BATCH"/>
      <xs:enumeration value="SEQUENCE_NUMBER_GENERATION_ERROR"/>
      <xs:enumeration value="DUPLICATE_CUSTOMER_ALT_KEY_EXISTS"/>
      <xs:enumeration value="REQUEST_DATA_EMPTY"/>
      <xs:enumeration value="DATA_EXPORT_ERROR"/>
      <xs:enumeration value="RELATE_SERVICES_GENERAL_CONFIGURATION_ERROR"/>
      <xs:enumeration value="LOYALTY_SETUP_ERROR"/>
      <xs:enumeration value="LOYALTY_ROUNDING_SETUP_ERROR"/>
      <xs:enumeration value="HOUSEHOLD_IDENTIFY_UNSUPPORTED_TYPE"/>
      <xs:enumeration value="CUSTOMER_NOT_FOUND"/>
      <xs:enumeration value="ACCOUNT_NOT_FOUND"/>
      <xs:enumeration value="NO_ACTIVE_ACCOUNTS_FOUND"/>
      <xs:enumeration value="CARD_NOT_FOUND"/>
      <xs:enumeration value="LINE_ITEM_NOT_FOUND_FROM_SEQ"/>
      <xs:enumeration value="PROGRAM_NOT_FOUND"/>
      <xs:enumeration value="PROGRAM_CURRENCY_UNKNOWN"/>
      <xs:enumeration value="CURRENCY_RATE_NOT_FOUND"/>
      <xs:enumeration value="ACCOUNT_INACTIVE"/>
      <xs:enumeration value="ACCOUNT_EXPIRED"/>
      <xs:enumeration value="ACCOUNT_ALREADY_ACTIVE"/>
      <xs:enumeration value="ACCOUNT_ALREADY_INACTIVE"/>
      <xs:enumeration value="ACCOUNT_BLOCKED"/>
      <xs:enumeration value="ACCOUNT_NOT_BLOCKED"/>
      <xs:enumeration value="ACCOUNT_NOT_EFFECTIVE"/>
      <xs:enumeration value="CARD_INACTIVE"/>
      <xs:enumeration value="CARD_EXPIRED"/>
      <xs:enumeration value="CARD_TYPE_ACCESS_RESTRICTED"/>
      <xs:enumeration value="CARD_ALREADY_ACTIVE"/>
      <xs:enumeration value="PROGRAM_EXPIRED"/>
      <xs:enumeration value="PROGRAM_NOT_EFFECTIVE"/>
      <xs:enumeration value="PROGRAM_INACTIVE"/>
      <xs:enumeration value="CAN_NOT_ACTIVATE_ACCOUNT"/>
      <xs:enumeration value="INSUFFICIENT_FUNDS"/>
      <xs:enumeration value="ORIG_SVA_TRAN_NOT_FOUND"/>
      <xs:enumeration value="ORIG_AWARD_TRAN_NOT_FOUND"/>
      <xs:enumeration value="VALID_ORIGINAL_TRAN_REQUIRED"/>
      <xs:enumeration value="INVALID_PIN"/>
      <xs:enumeration value="NO_PHYSICAL_CARD"/>
      <xs:enumeration value="MAX_BALANCE_EXCEEDED"/>
      <xs:enumeration value="MIN_BALANCE_NOT_MET"/>
      <xs:enumeration value="MIN_ACTIVATION_AMT_NOT_MET"/>
      <xs:enumeration value="EXCEEDED_LIFETIME_USES"/>
      <xs:enumeration value="EXCEEDED_DAILY_USES"/>
      <xs:enumeration value="EXCEEDED_DAILY_REDEMPTION_AMT"/>
      <xs:enumeration value="CASHOUT_NOT_PERMITTED"/>
      <xs:enumeration value="CASHOUT_LIMIT_EXCEEDED"/>
      <xs:enumeration value="ORIGINAL_TRANSACTION_VOIDED"/>
      <xs:enumeration value="ORIGINAL_TRAN_ERROR"/>
      <xs:enumeration value="ORIGINAL_TRAN_WRONG_CARD"/>
      <xs:enumeration value="ORIGINAL_TRAN_WRONG_ACCOUNT"/>
      <xs:enumeration value="ORIGINAL_TRAN_WRONG_PROGRAM"/>
      <xs:enumeration value="REQUESTED_AMT_INCORRECT"/>
      <xs:enumeration value="DEBIT_REVERSALS_NOT_PERMITTED"/>
      <xs:enumeration value="CREDIT_REVERSALS_NOT_PERMITTED"/>
      <xs:enumeration value="CAN_NOT_REVERSE_TRAN_TYPE"/>
      <xs:enumeration value="TRANSACTION_ALREADY_REVERSED"/>
      <xs:enumeration value="TRANSACTION_NOT_FOUND"/>
      <xs:enumeration value="TRANSACTION_TYPE_INVALID"/>
      <xs:enumeration value="DEBIT_VOIDS_NOT_PERMITTED"/>
      <xs:enumeration value="CREDIT_VOIDS_NOT_PERMITTED"/>
      <xs:enumeration value="CAN_NOT_VOID_TRAN_TYPE"/>
      <xs:enumeration value="CAN_NOT_RELEASE_TRAN_TYPE"/>
      <xs:enumeration value="CAN_NOT_POSTAUTH_TRAN_TYPE"/>
      <xs:enumeration value="TRANSACTION_ALREADY_VOIDED"/>
      <xs:enumeration value="PREAUTH_TRANSACTION_ALREADY_VOIDED_OR_CLOSED"/>
      <xs:enumeration value="TRANSACTION_VOIDED"/>
      <xs:enumeration value="BALANCE_IS_NOW_ZERO"/>
      <xs:enumeration value="BALANCE_IS_LESS_THAN_ZERO"/>
      <xs:enumeration value="PREAUTH_ALREADY_POSTAUTHED_OR_RELEASE"/>
      <xs:enumeration value="CONTAINS_OUTSTANDING_PREAUTHS"/>
      <xs:enumeration value="TENDER_ACCOUNT_ALREADY_MERGED"/>
      <xs:enumeration value="LOYALTY_ACCOUNT_ALREADY_MERGED"/>
      <xs:enumeration value="AWARD_ACCOUNT_ALREADY_MERGED"/>
      <xs:enumeration value="CANNOT_MERGE_FROM_INACTIVE_TENDER_ACCOUNT"/>
      <xs:enumeration value="CANNOT_MERGE_FROM_INACTIVE_LOYALTY_ACCOUNT"/>
      <xs:enumeration value="CANNOT_MERGE_FROM_INACTIVE_AWARD_ACCOUNT"/>
      <xs:enumeration value="CANNOT_MERGE_CARDS_OF_DIFFERENT_CARD_TYPES"/>
      <xs:enumeration value="CANNOT_MERGE_CARDS_WITH_DIFFERENT_OWNERS"/>
      <xs:enumeration value="CANNOT_MERGE_CARDS_PROGRAM_BLOCKED_MERGE"/>
      <xs:enumeration value="MISSING_PIN_ERROR"/>
      <xs:enumeration value="MISSING_NEW_PIN_ERROR"/>
      <xs:enumeration value="ORIGINAL_TRANSACTION_NOT_LAST"/>
      <xs:enumeration value="ACTIVATION_NOT_VOIDABLE_WHEN_ACCT_HAS_ACTIVITY"/>
      <xs:enumeration value="PREAUTH_NOT_VOIDABLE"/>
      <xs:enumeration value="RELOADS_NOT_PERMITTED"/>
      <xs:enumeration value="INVALID_ORIG_AUTH_CODE"/>
      <xs:enumeration value="CARD_NUMBER_REQUIRED"/>
      <xs:enumeration value="NEGATIVE_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_REDEEM_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_ACTIVATE_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_PREAUTH_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_POSTAUTH_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_RELEASEAUTH_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_RECHARGE_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_RETURN_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_SERVICE_CHARGE_AMOUNT_ERROR"/>
      <xs:enumeration value="INVALID_VOID_AMOUNT_ERROR"/>
      <xs:enumeration value="TENDER_PROGRAM_DISALLOWS_PREAUTH"/>
      <xs:enumeration value="INVALID_DATA_FOR_REQUEST"/>
      <xs:enumeration value="ILLEGAL_PROGRAM_ACCOUNT_SETUP"/>
      <xs:enumeration value="INVALID_TRANSACTION_DATA"/>
      <xs:enumeration value="COUPON_IDENTIFIER_INVALID_OR_EXPIRED"/>
      <xs:enumeration value="COUPON_REQUEST_AMOUNT_INVALID"/>
      <xs:enumeration value="COUPON_REQUEST_DATE_INVALID"/>
      <xs:enumeration value="COUPON_REQUEST_NEGATIVE_AMOUNT_INVALID"/>
      <xs:enumeration value="COUPON_REQUEST_EXCEEDS_BALANCE"/>
      <xs:enumeration value="ILLEGAL_RETAIL_TRANSACTION_ID"/>
      <xs:enumeration value="AWARD_ACCOUNT_EXPIRED"/>
      <xs:enumeration value="AWARD_PROGRAM_EXPIRED"/>
      <xs:enumeration value="AWARD_PROGRAM_NOT_EFFECTIVE"/>
      <xs:enumeration value="LOYALTY_PROGRAM_EXPIRED"/>
      <xs:enumeration value="LOYALTY_PROGRAM_NOT_EFFECTIVE"/>
      <xs:enumeration value="LOYALTY_ACCOUNT_EXPIRED"/>
      <xs:enumeration value="LOYALTY_POINTS_ALREADY_AWARDED"/>
      <xs:enumeration value="LOYALTY_POINTS_NOT_AWARDED"/>
      <xs:enumeration value="LOYALTY_ACTIVITY_DOES_NOT_MATCH_CARD"/>
      <xs:enumeration value="LOYALTY_RULE_NOT_FOUND"/>
      <xs:enumeration value="LOYALTY_NEGATIVE_BALANCE_NOT_ALLOWED"/>
      <xs:enumeration value="LOYALTY_AWARD_COST_EXCEEDS_THRESHOLD"/>
      <xs:enumeration value="LOYALTY_INSUFFICIENT_POINTS_FOR_REDEEM"/>
      <xs:enumeration value="LOYALTY_INVALID_ESCROW_PERIOD"/>
      <xs:enumeration value="LOYALTY_INVALID_BONUS_FLAG"/>
      <xs:enumeration value="LOYALTY_INVALID_FORCE_EARNED_PTS_FLAG"/>
      <xs:enumeration value="LOYALTY_INVALID_POINTS_AMOUNT"/>
      <xs:enumeration value="LOYALTY_AWARD_ACCOUNT_ERROR"/>
      <xs:enumeration value="LOYALTY_ACCOUNT_AWARD_RULE_MISMATCH"/>
      <xs:enumeration value="CURRENCY_EXCHANGE_RATE_NOT_FOUND"/>
      <xs:enumeration value="CURRENCY_ID_MISSING_IN_REQUEST"/>
      <xs:enumeration value="CURRENCY_CODE_INVALID"/>
      <xs:enumeration value="FOREIGN_CURRENCY_NOT_ALLOWED"/>
      <xs:enumeration value="CONCURRENT_DATA_ACCESS"/>
      <xs:enumeration value="CARD_NOT_ASSOCIATED_TO_CUSTOMER"/>
      <xs:enumeration value="ANNIV_ECOUPON_REQUEST_EXCEEDS_LIMIT"/>
      <xs:enumeration value="SIGNUP_ECOUPON_REQUEST_CURRENT_YEAR"/>
      <xs:enumeration value="LOYALTY_PRGLVL_NOT_EXISTS"/>
      <xs:enumeration value="LOYALTY_PRGLVL_MOVE_REQUEST_EXCEEDS_BALANCE"/>
      <xs:enumeration value="LOYALTY_PRGLVL_MOVE_REQUEST_NEGATIVE_AMOUNT_INVALID"/>
      <xs:enumeration value="INSUFFICIENT_POINTS_FOR_AWARD"/>
      <xs:enumeration value="NEGATIVE_POINTS_NOT_ALLOWED"/>
      <xs:enumeration value="LOYALTY_ACCOUNT_ALREADY_ACTIVE"/>
      <xs:enumeration value="LOYALTY_ACCOUNT_ALREADY_INACTIVE"/>
      <xs:enumeration value="LOYALTY_TRANSACTION_ALREADY_VOIDED"/>
      <xs:enumeration value="LOYALTY_TRANSACTION_ALREADY_EARNED"/>
      <xs:enumeration value="POINTS_NOT_IN_ESCROW"/>
      <xs:enumeration value="LOYALTY_ACCOUNT_INACTIVE"/>
      <xs:enumeration value="NO_WRITE_PRIVILEGE_ON_CUSTOMER"/>
      <xs:enumeration value="INVALID_ASSOCIATE_ID"/>
      <xs:enumeration value="INVALID_ASSOCIATE_ROLE_ID"/>
      <xs:enumeration value="ASSOCIATE_ASSIGNMENT_EMPTY"/>
      <xs:enumeration value="WISHLIST_EMPTY"/>
      <xs:enumeration value="INVALID_USER"/>
      <xs:enumeration value="INVALID_CLOSET_WISHLIST_FILTER"/>
      <xs:enumeration value="REQUIRED_PARAMETERS_MISSING"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

