ksr_xstore/res/wsdl/orce/card_v3_1/CardServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v3_1.card.webservices.csx.dtv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v3_1.card.webservices.csx.dtv.com/" name="CardServicesApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v3_1.card.webservices.csx.dtv.com/" schemaLocation="CardServices.xsd"/>
</xsd:schema>
</types>
<message name="getCardInquiryData">
<part name="parameters" element="tns:getCardInquiryData"/>
</message>
<message name="getCardInquiryDataResponse">
<part name="parameters" element="tns:getCardInquiryDataResponse"/>
</message>
<message name="RelateProcessingException">
<part name="fault" element="tns:RelateProcessingException"/>
</message>
<message name="addOrUpdateCardAttributes">
<part name="parameters" element="tns:addOrUpdateCardAttributes"/>
</message>
<message name="addOrUpdateCardAttributesResponse">
<part name="parameters" element="tns:addOrUpdateCardAttributesResponse"/>
</message>
<message name="updateCardToCustomerAssociations">
<part name="parameters" element="tns:updateCardToCustomerAssociations"/>
</message>
<message name="updateCardToCustomerAssociationsResponse">
<part name="parameters" element="tns:updateCardToCustomerAssociationsResponse"/>
</message>
<message name="extendExpirationDate">
<part name="parameters" element="tns:extendExpirationDate"/>
</message>
<message name="extendExpirationDateResponse">
<part name="parameters" element="tns:extendExpirationDateResponse"/>
</message>
<message name="getCustomerCardsInquiryData">
<part name="parameters" element="tns:getCustomerCardsInquiryData"/>
</message>
<message name="getCustomerCardsInquiryDataResponse">
<part name="parameters" element="tns:getCustomerCardsInquiryDataResponse"/>
</message>
<portType name="CardServicesApi">
<operation name="getCardInquiryData">
<input wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/getCardInquiryDataRequest" message="tns:getCardInquiryData"/>
<output wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/getCardInquiryDataResponse" message="tns:getCardInquiryDataResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/getCardInquiryData/Fault/RelateProcessingException"/>
</operation>
<operation name="addOrUpdateCardAttributes">
<input wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/addOrUpdateCardAttributesRequest" message="tns:addOrUpdateCardAttributes"/>
<output wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/addOrUpdateCardAttributesResponse" message="tns:addOrUpdateCardAttributesResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/addOrUpdateCardAttributes/Fault/RelateProcessingException"/>
</operation>
<operation name="updateCardToCustomerAssociations">
<input wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/updateCardToCustomerAssociationsRequest" message="tns:updateCardToCustomerAssociations"/>
<output wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/updateCardToCustomerAssociationsResponse" message="tns:updateCardToCustomerAssociationsResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/updateCardToCustomerAssociations/Fault/RelateProcessingException"/>
</operation>
<operation name="extendExpirationDate">
<input wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/extendExpirationDateRequest" message="tns:extendExpirationDate"/>
<output wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/extendExpirationDateResponse" message="tns:extendExpirationDateResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/extendExpirationDate/Fault/RelateProcessingException"/>
</operation>
<operation name="getCustomerCardsInquiryData">
<input wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/getCustomerCardsInquiryDataRequest" message="tns:getCustomerCardsInquiryData"/>
<output wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/getCustomerCardsInquiryDataResponse" message="tns:getCustomerCardsInquiryDataResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.card.webservices.csx.dtv.com/CardServicesApi/getCustomerCardsInquiryData/Fault/RelateProcessingException"/>
</operation>
</portType>
<binding name="CardServicesApiPortBinding" type="tns:CardServicesApi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCardInquiryData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="addOrUpdateCardAttributes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="updateCardToCustomerAssociations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="extendExpirationDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getCustomerCardsInquiryData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CardServicesApiService">
<port name="CardServicesApiPort" binding="tns:CardServicesApiPortBinding">
<soap:address location="http://localhost:8084/xst/OrceWebServices/v3_1/CardServicesApiService"/>
</port>
</service>
</definitions>