release/xcenter/WEB-INF/wsdl/orob/LocateServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://microsretail.com/Locate" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://microsretail.com/Locate" name="LocateService">
<types>
<xsd:schema>
<xsd:import namespace="http://microsretail.com/Locate" schemaLocation="Locate.xsd"/>
</xsd:schema>
</types>
<message name="EchoTest">
<part name="parameters" element="tns:EchoTest"/>
</message>
<message name="EchoTestResponse">
<part name="parameters" element="tns:EchoTestResponse"/>
</message>
<message name="Fulfillments">
<part name="parameters" element="tns:Fulfillments"/>
</message>
<message name="FulfillmentsResponse">
<part name="parameters" element="tns:FulfillmentsResponse"/>
</message>
<message name="StatusUpdate">
<part name="parameters" element="tns:StatusUpdate"/>
</message>
<message name="StatusUpdateResponse">
<part name="parameters" element="tns:StatusUpdateResponse"/>
</message>
<message name="StatusRequest">
<part name="parameters" element="tns:StatusRequest"/>
</message>
<message name="StatusRequestResponse">
<part name="parameters" element="tns:StatusRequestResponse"/>
</message>
<message name="LocateItems">
<part name="parameters" element="tns:LocateItems"/>
</message>
<message name="LocateItemsResponse">
<part name="parameters" element="tns:LocateItemsResponse"/>
</message>
<message name="SubmitOrder">
<part name="parameters" element="tns:SubmitOrder"/>
</message>
<message name="SubmitOrderResponse">
<part name="parameters" element="tns:SubmitOrderResponse"/>
</message>
<message name="ProductUpdate">
<part name="parameters" element="tns:ProductUpdate"/>
</message>
<message name="ProductUpdateResponse">
<part name="parameters" element="tns:ProductUpdateResponse"/>
</message>
<message name="OrderSearch">
<part name="parameters" element="tns:OrderSearch"/>
</message>
<message name="OrderSearchResponse">
<part name="parameters" element="tns:OrderSearchResponse"/>
</message>
<message name="OrderUpdate">
<part name="parameters" element="tns:OrderUpdate"/>
</message>
<message name="OrderUpdateResponse">
<part name="parameters" element="tns:OrderUpdateResponse"/>
</message>
<message name="StatusListRequest">
<part name="parameters" element="tns:StatusListRequest"/>
</message>
<message name="StatusListRequestResponse">
<part name="parameters" element="tns:StatusListRequestResponse"/>
</message>
<message name="ProductAvailability">
<part name="parameters" element="tns:ProductAvailability"/>
</message>
<message name="ProductAvailabilityResponse">
<part name="parameters" element="tns:ProductAvailabilityResponse"/>
</message>
<message name="AvailabilityUpdate">
<part name="parameters" element="tns:AvailabilityUpdate"/>
</message>
<message name="AvailabilityUpdateResponse">
<part name="parameters" element="tns:AvailabilityUpdateResponse"/>
</message>
<message name="Intransit">
<part name="parameters" element="tns:Intransit"/>
</message>
<message name="IntransitResponse">
<part name="parameters" element="tns:IntransitResponse"/>
</message>
<portType name="Locate">
<operation name="EchoTest">
<input wsam:Action="http://microsretail.com/Locate/Locate/EchoTestRequest" message="tns:EchoTest"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/EchoTestResponse" message="tns:EchoTestResponse"/>
</operation>
<operation name="Fulfillments">
<input wsam:Action="http://microsretail.com/Locate/Locate/FulfillmentsRequest" message="tns:Fulfillments"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/FulfillmentsResponse" message="tns:FulfillmentsResponse"/>
</operation>
<operation name="StatusUpdate">
<input wsam:Action="http://microsretail.com/Locate/Locate/StatusUpdateRequest" message="tns:StatusUpdate"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/StatusUpdateResponse" message="tns:StatusUpdateResponse"/>
</operation>
<operation name="StatusRequest">
<input wsam:Action="http://microsretail.com/Locate/Locate/StatusRequestRequest" message="tns:StatusRequest"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/StatusRequestResponse" message="tns:StatusRequestResponse"/>
</operation>
<operation name="LocateItems">
<input wsam:Action="http://microsretail.com/Locate/Locate/LocateItemsRequest" message="tns:LocateItems"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/LocateItemsResponse" message="tns:LocateItemsResponse"/>
</operation>
<operation name="SubmitOrder">
<input wsam:Action="http://microsretail.com/Locate/Locate/SubmitOrderRequest" message="tns:SubmitOrder"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/SubmitOrderResponse" message="tns:SubmitOrderResponse"/>
</operation>
<operation name="ProductUpdate">
<input wsam:Action="http://microsretail.com/Locate/Locate/ProductUpdateRequest" message="tns:ProductUpdate"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/ProductUpdateResponse" message="tns:ProductUpdateResponse"/>
</operation>
<operation name="OrderSearch">
<input wsam:Action="http://microsretail.com/Locate/Locate/OrderSearchRequest" message="tns:OrderSearch"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/OrderSearchResponse" message="tns:OrderSearchResponse"/>
</operation>
<operation name="OrderUpdate">
<input wsam:Action="http://microsretail.com/Locate/Locate/OrderUpdateRequest" message="tns:OrderUpdate"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/OrderUpdateResponse" message="tns:OrderUpdateResponse"/>
</operation>
<operation name="StatusListRequest">
<input wsam:Action="http://microsretail.com/Locate/Locate/StatusListRequestRequest" message="tns:StatusListRequest"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/StatusListRequestResponse" message="tns:StatusListRequestResponse"/>
</operation>
<operation name="ProductAvailability">
<input wsam:Action="http://microsretail.com/Locate/Locate/ProductAvailabilityRequest" message="tns:ProductAvailability"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/ProductAvailabilityResponse" message="tns:ProductAvailabilityResponse"/>
</operation>
<operation name="AvailabilityUpdate">
<input wsam:Action="http://microsretail.com/Locate/Locate/AvailabilityUpdateRequest" message="tns:AvailabilityUpdate"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/AvailabilityUpdateResponse" message="tns:AvailabilityUpdateResponse"/>
</operation>
<operation name="Intransit">
<input wsam:Action="http://microsretail.com/Locate/Locate/IntransitRequest" message="tns:Intransit"/>
<output wsam:Action="http://microsretail.com/Locate/Locate/IntransitResponse" message="tns:IntransitResponse"/>
</operation>
</portType>
<binding name="LocatePortBinding" type="tns:Locate">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="EchoTest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Fulfillments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="StatusUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="StatusRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LocateItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SubmitOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProductUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OrderSearch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OrderUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="StatusListRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProductAvailability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AvailabilityUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Intransit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LocateService">
<port name="LocatePort" binding="tns:LocatePortBinding">
<soap:address location="https://localhost:1234/Locate/LocateServices"/>
</port>
</service>
</definitions>