release/xstore/xstore/res/wsdl/orce/registry_v3_1/RegistryServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v3_1.registry.webservices.csx.dtv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v3_1.registry.webservices.csx.dtv.com/" name="RegistryServicesApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v3_1.registry.webservices.csx.dtv.com/" schemaLocation="RegistryServices.xsd"/>
</xsd:schema>
</types>
<message name="searchRegistry">
<part name="parameters" element="tns:searchRegistry"/>
</message>
<message name="searchRegistryResponse">
<part name="parameters" element="tns:searchRegistryResponse"/>
</message>
<message name="RelateProcessingException">
<part name="fault" element="tns:RelateProcessingException"/>
</message>
<message name="deleteRegistry">
<part name="parameters" element="tns:deleteRegistry"/>
</message>
<message name="deleteRegistryResponse">
<part name="parameters" element="tns:deleteRegistryResponse"/>
</message>
<message name="getRegistryDetail">
<part name="parameters" element="tns:getRegistryDetail"/>
</message>
<message name="getRegistryDetailResponse">
<part name="parameters" element="tns:getRegistryDetailResponse"/>
</message>
<message name="addOrUpdateRegistry">
<part name="parameters" element="tns:addOrUpdateRegistry"/>
</message>
<message name="addOrUpdateRegistryResponse">
<part name="parameters" element="tns:addOrUpdateRegistryResponse"/>
</message>
<message name="AttributeException">
<part name="fault" element="tns:AttributeException"/>
</message>
<message name="addOrUpdateRegistryDetail">
<part name="parameters" element="tns:addOrUpdateRegistryDetail"/>
</message>
<message name="addOrUpdateRegistryDetailResponse">
<part name="parameters" element="tns:addOrUpdateRegistryDetailResponse"/>
</message>
<message name="customerRegistryAssociation">
<part name="parameters" element="tns:customerRegistryAssociation"/>
</message>
<message name="customerRegistryAssociationResponse">
<part name="parameters" element="tns:customerRegistryAssociationResponse"/>
</message>
<message name="sellOrReturnRegistryItems">
<part name="parameters" element="tns:sellOrReturnRegistryItems"/>
</message>
<message name="sellOrReturnRegistryItemsResponse">
<part name="parameters" element="tns:sellOrReturnRegistryItemsResponse"/>
</message>
<message name="IllegalRetailTranIdException">
<part name="fault" element="tns:IllegalRetailTranIdException"/>
</message>
<message name="getRegistry">
<part name="parameters" element="tns:getRegistry"/>
</message>
<message name="getRegistryResponse">
<part name="parameters" element="tns:getRegistryResponse"/>
</message>
<portType name="RegistryServicesApi">
<operation name="searchRegistry">
<input wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/searchRegistryRequest" message="tns:searchRegistry"/>
<output wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/searchRegistryResponse" message="tns:searchRegistryResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/searchRegistry/Fault/RelateProcessingException"/>
</operation>
<operation name="deleteRegistry">
<input wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/deleteRegistryRequest" message="tns:deleteRegistry"/>
<output wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/deleteRegistryResponse" message="tns:deleteRegistryResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/deleteRegistry/Fault/RelateProcessingException"/>
</operation>
<operation name="getRegistryDetail">
<input wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/getRegistryDetailRequest" message="tns:getRegistryDetail"/>
<output wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/getRegistryDetailResponse" message="tns:getRegistryDetailResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/getRegistryDetail/Fault/RelateProcessingException"/>
</operation>
<operation name="addOrUpdateRegistry">
<input wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/addOrUpdateRegistryRequest" message="tns:addOrUpdateRegistry"/>
<output wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/addOrUpdateRegistryResponse" message="tns:addOrUpdateRegistryResponse"/>
<fault message="tns:AttributeException" name="AttributeException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/addOrUpdateRegistry/Fault/AttributeException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/addOrUpdateRegistry/Fault/RelateProcessingException"/>
</operation>
<operation name="addOrUpdateRegistryDetail">
<input wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/addOrUpdateRegistryDetailRequest" message="tns:addOrUpdateRegistryDetail"/>
<output wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/addOrUpdateRegistryDetailResponse" message="tns:addOrUpdateRegistryDetailResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/addOrUpdateRegistryDetail/Fault/RelateProcessingException"/>
</operation>
<operation name="customerRegistryAssociation">
<input wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/customerRegistryAssociationRequest" message="tns:customerRegistryAssociation"/>
<output wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/customerRegistryAssociationResponse" message="tns:customerRegistryAssociationResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/customerRegistryAssociation/Fault/RelateProcessingException"/>
</operation>
<operation name="sellOrReturnRegistryItems">
<input wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/sellOrReturnRegistryItemsRequest" message="tns:sellOrReturnRegistryItems"/>
<output wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/sellOrReturnRegistryItemsResponse" message="tns:sellOrReturnRegistryItemsResponse"/>
<fault message="tns:IllegalRetailTranIdException" name="IllegalRetailTranIdException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/sellOrReturnRegistryItems/Fault/IllegalRetailTranIdException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/sellOrReturnRegistryItems/Fault/RelateProcessingException"/>
</operation>
<operation name="getRegistry">
<input wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/getRegistryRequest" message="tns:getRegistry"/>
<output wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/getRegistryResponse" message="tns:getRegistryResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.registry.webservices.csx.dtv.com/RegistryServicesApi/getRegistry/Fault/RelateProcessingException"/>
</operation>
</portType>
<binding name="RegistryServicesApiPortBinding" type="tns:RegistryServicesApi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchRegistry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="deleteRegistry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getRegistryDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="addOrUpdateRegistry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AttributeException">
<soap:fault name="AttributeException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="addOrUpdateRegistryDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="customerRegistryAssociation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="sellOrReturnRegistryItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IllegalRetailTranIdException">
<soap:fault name="IllegalRetailTranIdException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getRegistry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RegistryServicesApiService">
<port name="RegistryServicesApiPort" binding="tns:RegistryServicesApiPortBinding">
<soap:address location="https://localhost:1234/xst/OrceWebServices/v3_1/RegistryServicesApiService"/>
</port>
</service>
</definitions>