ksr_xstore/res/xsd/poslog/XstorePosLog_Extensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dtv="http://www.datavantagecorp.com/xstore/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.datavantagecorp.com/xstore/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- The following is a list of top level elements referred from XStorePosLog_Standard.xsd. -->
	<xs:element name="OrganizationID" type="xs:integer"/>
	<xs:element name="TaxLocationId" type="xs:string"/>
	<xs:element name="TaxGroupId" type="xs:string"/>
  <xs:element name="RawTaxPercentage" type="xs:decimal"/>  
	<xs:attribute name="InventoryDocumentSubType" type="xs:NCName"/>
	<xs:attribute name="InventoryDocumentType" type="xs:NCName"/>
	<xs:element name="CashDrawerID" type="xs:string"/>
	<xs:element name="FiscalNumber" type="xs:string"/>
	<xs:element name="DeviceId" type="xs:string"/>
	<xs:element name="FiscalSessionNumber" type="xs:string"/>
	<xs:element name="ForeignCurrencyExchangeRate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BaseCurrency" type="xs:NCName"/>
				<xs:element name="TargetCurrency" type="xs:NCName"/>
				<xs:element name="OldRate" type="xs:decimal"/>
				<xs:element name="NewRate" type="xs:decimal"/>
				<xs:element name="Comment" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnitOfMeasureCode" type="xs:string"/>
	<xs:element name="PercentageOfItem" type="dtv:PercentageOfItemType"/>
	<xs:element name="ReturnType" type="xs:string"/>
	<xs:element name="ReasonComment" type="xs:string"/>
	<xs:element name="LineItemProperty" type="dtv:LineItemPropertyType"/>
	<xs:element name="PosTransactionProperties" type="dtv:PosTransactionPropertiesType"/>
	<xs:element name="ScannedItemID" type="xs:string"/>
	<xs:element name="OrderType" type="xs:string"/>
	<xs:element name="SerialNumber" type="xs:string"/>
	<xs:element name="DiscountReasonCode" type="xs:string"/>
	<xs:element name="DiscountReasonCodeComment" type="xs:string"/>
	<xs:element name="DiplomaticTitle" type="xs:NCName"/>
	<xs:element name="Address1" type="xs:NCName"/>
	<xs:element name="Address2" type="xs:NCName"/>
	<xs:element name="Address3" type="xs:NCName"/>
	<xs:element name="Address4" type="xs:NCName"/>
	<xs:element name="City" type="xs:NCName"/>
	<xs:element name="Territory" type="xs:NCName"/>
	<xs:element name="PostalCode" type="xs:NCName"/>
	<xs:element name="Country" type="xs:NCName"/>
	<xs:element name="Disposition">
		<xs:complexType>
			<xs:attribute name="BucketId" type="xs:NCName" use="required" form="qualified"/>
			<xs:attribute name="GlAccountNumber" type="xs:NCName" form="qualified"/>
			<xs:attribute name="InventoryActionCode" type="xs:NCName" form="qualified"/>
			<xs:attribute name="LocationId" type="xs:NCName" use="required" form="qualified"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VoidReason" type="xs:string"/>
	<xs:element name="AuthorizationCode" type="xs:string"/>
	<xs:element name="UserName" type="xs:string"/>
	<xs:element name="Tax" type="xs:decimal"/>
	<xs:element name="Discount" type="xs:decimal"/>
	<xs:element name="Freight" type="xs:decimal"/>
	<xs:element name="Duty" type="xs:decimal"/>
	<xs:element name="AdjudicationCode" type="xs:NCName"/>
	<xs:element name="ActionCode" type="xs:NCName"/>
	<xs:element name="ApprovalFlag" type="xs:boolean"/>
	<xs:element name="ResponseSequenceNumber" type="xs:integer"/>
	<xs:element name="ErrorText" type="xs:NCName"/>
	<xs:element name="ResponseText" type="xs:NCName"/>
	<xs:element name="PONumber" type="xs:string"/>
	<xs:element name="Neighborhood" type="xs:string"/>
	<xs:element name="County" type="xs:string"/>
	<xs:element name="PayDeduct" type="dtv:PayDeductType"/>
	<xs:element name="ExpirationDateEncrypted" type="xs:string"/>
	<xs:element name="MaskedCardNumber" type="xs:string"/>
	<xs:element name="AuthorizationToken" type="xs:string"/>
	<xs:element name="HashedCardNumber" type="xs:string"/>
	<xs:element name="MallCertificateID" type="xs:integer"/>
	<xs:element name="DocumentType" type="xs:string"/>
	<xs:element name="DocumentId" type="xs:NCName"/>
	<xs:element name="SeriesId" type="xs:NCName"/>
	<xs:element name="ActivityCode" type="xs:NCName"/>
	<xs:element name="QuantityShipped" type="xs:decimal"/>
	<xs:element name="InboundTillID" type="xs:NCName"/>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:attribute name="AppVersion" type="xs:string"/>
	<xs:attribute name="crossChannelReturn" type="xs:boolean"/>
	<xs:attribute name="TransactionType" type="xs:string"/>
	<xs:attribute name="Status" type="xs:NCName"/>
	<xs:attribute name="VoidFlag" type="xs:boolean"/>
	<xs:attribute name="ChangeFlag" type="xs:boolean"/>
	<xs:element name="ContactFlag" type="xs:boolean"/>
	<xs:element name="CustomerID" type="xs:NCName"/>
	<xs:element name="EmployeeSaleId" type="xs:integer"/>
	<xs:element name="PostVoidReasonCode" type="xs:NCName"/>
	<xs:element name="TransCancelReasonCode" type="xs:NCName"/>
	<xs:element name="TillID" type="xs:NCName"/>
	<xs:element name="Contact" type="xs:boolean"/>
	<xs:element name="LineItemAssociation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LineItemAssociationModifierSequence" type="xs:string"/>
				<xs:element name="ChildRetailLocationId" type="xs:integer" minOccurs="0"/>
				<xs:element name="ChildBusinessDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="ChildWorkstationId" type="xs:integer" minOccurs="0"/>
				<xs:element name="ChildTransactionSequence" type="xs:integer" minOccurs="0"/>
				<xs:element name="ChildRetailTransactionLineItemSequence" type="xs:integer" minOccurs="0"/>
				<xs:element name="LineItemAssociationTypeCodeString" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TimeClockTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EntryCode" type="xs:NCName" minOccurs="0"/>
				<xs:element name="WorkCode" type="xs:NCName" minOccurs="0"/>
				<xs:element name="TimecardEmployeeId" type="xs:integer" minOccurs="0"/>
				<xs:element name="ClockInTime" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="ClockOutTime" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="DeleteFlag" type="xs:boolean" minOccurs="0"/>
				<xs:element name="Comment" type="xs:string" minOccurs="0"/>
				<xs:element name="SellingFlag" type="xs:boolean" minOccurs="0"/>
				<xs:element name="TimecardEntryId" type="xs:integer" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TrainingModeTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Type" type="xs:NCName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SafeBag" type="dtv:SafeBagType"/>
	<xs:element name="AssignTillTenderTransfer" type="dtv:TillCountType"/>
	<xs:element name="BeginTillCount" type="dtv:TillCountType"/>
	<xs:element name="MidDayTillDeposit" type="dtv:TillCountType"/>
	<xs:element name="TillClosingCount" type="dtv:TillCountType"/>
	<xs:element name="TillReconcileCount" type="dtv:TillCountType"/>
	<xs:element name="BankDeposit" type="dtv:TillCountType"/>
	<xs:element name="LocalCurrencyPickup" type="dtv:TillCountType"/>
	<xs:element name="CashTransfer" type="dtv:TillCountType"/>
	<xs:element name="LocalCurrencyDeposit" type="dtv:TillCountType"/>
	<xs:element name="TillAudit" type="dtv:TillCountType"/>
	<xs:element name="StoreBankAudit" type="dtv:TillCountType"/>
	<xs:element name="AssociateAdvance">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="AssociateID" type="xs:string"/>
					<xs:element name="Amount" type="dtv:DtvAmountType"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="OutboundTillID" type="xs:NCName"/>
					<xs:element name="OutboundTillEmployeePartyID" type="xs:integer"/>
					<xs:element name="CashRemainedInTill" type="dtv:CashRemainedInTillType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssignTill">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TillID" type="xs:NCName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttachTill">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TillID" type="xs:NCName"/>
				<xs:element name="WorkstationID" type="xs:string"/>
				<xs:element name="CashDrawer" type="xs:integer" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemoveTill">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TillID" type="xs:NCName"/>
				<xs:element name="WorkstationID" type="xs:string"/>
				<xs:element name="CashDrawer" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InventoryBucketId" type="xs:NCName"/>
	<xs:element name="TransactionDeal">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Amount" type="dtv:DtvAmountType"/>
				<xs:element name="PromotionID" type="xs:string"/>
				<xs:element name="ReasonCode" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="MethodCode" type="xs:NCName" use="required"/>
			<xs:attribute name="VoidFlag" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DiscountId" type="xs:NCName"/>
	<xs:element name="PercentOff" type="xs:decimal"/>
	<xs:element name="Coupon">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CouponId" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FlightInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BuyerCategory" type="xs:string" minOccurs="0"/>
				<xs:element name="TaxCategory" type="xs:string" minOccurs="0"/>
				<xs:element name="FlightCarrier" type="xs:string" minOccurs="0"/>
				<xs:element name="FlightNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="OriginAirport" type="xs:string" minOccurs="0"/>
				<xs:element name="DestinationAirport" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccountCredit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AccountNumber" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LinkTypeCode" type="xs:string"/>
	<xs:element name="FiscalItemID" type="xs:string"/>
	<xs:element name="FiscalItemDescription" type="xs:string"/>
	<xs:element name="FiscalTenderID" type="xs:string"/>
	<xs:element name="MeasurementRequired" type="xs:boolean"/>
	<xs:element name="WeightEntryMethodCode" type="xs:string"/>
	<xs:element name="TareValue" type="xs:decimal"/>
	<xs:element name="TareType" type="xs:string"/>
	<xs:element name="TareUnitOfMeasureCode" type="xs:string"/>
	<xs:element name="NewSerialNumber" type="xs:string"/>
	<xs:element name="OriginalSerialNumber" type="xs:string"/>
	<xs:element name="EscrowTransferToAccount">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="Amount" type="dtv:DtvAmountType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EscrowTransferFromAccount">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="AccountCode" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentLink">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeriesId" type="xs:string"/>
				<xs:element name="DocumentType" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Complex type of top level elements referenced from XstorePosLog_Standard.xsd -->
	<!-- The types themselves are not directly referenced from XstorePosLog_Standard.xsd -->
	<xs:complexType name="PercentageOfItemType">
		<xs:sequence>
			<xs:element name="AssociateID" type="xs:string" minOccurs="0"/>
			<xs:element name="Percentage" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineItemPropertyType">
		<xs:sequence>
			<!-- <xs:element type="xs:NCName" name="LineItemPropertyType"/> -->
			<xs:element name="LineItemPropertyCode" type="xs:string"/>
			<xs:element name="LineItemPropertyType" type="xs:string" minOccurs="0"/>
			<xs:element name="LineItemPropertyValue" type="xs:string" minOccurs="0"/>
			<xs:element name="LineItemPropertyDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="LineItemPropertyDecimal" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PosTransactionPropertiesType">
		<xs:sequence>
			<xs:element name="PosTransactionPropertyCode" type="xs:string"/>
			<xs:element name="PosTransactionPropertyValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayDeductType">
		<xs:sequence>
			<xs:element name="PayrollDeductEmployee" type="dtv:PayrollDeductEmployeeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayrollDeductEmployeeType">
		<xs:sequence>
			<xs:element name="EmployeeId" type="xs:integer"/>
			<xs:element name="EmployeeName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TillCountType">
		<xs:sequence>
			<xs:element name="InboundTillID" type="xs:NCName" minOccurs="0"/>
			<xs:element name="InboundTillEmployeePartyID" type="xs:integer" minOccurs="0"/>
			<xs:element name="OutboundTillID" type="xs:NCName" minOccurs="0"/>
			<xs:element name="OutboundTillEmployeePartyID" type="xs:integer" minOccurs="0"/>
			<xs:element name="CashRemainedInTill" type="dtv:CashRemainedInTillType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SafeBagTransactionLink" type="dtv:SafeBagTransactionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TenderTypeCount" type="dtv:TenderTypeCountType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashRemainedInTillType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="Currency" type="xs:NCName"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TenderTypeCountType">
		<xs:sequence>
			<xs:element name="TenderTypeTotal" type="dtv:TenderTotalType"/>
			<xs:element name="TenderCount" type="dtv:TenderCountType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TenderTypeSerializedCount" type="dtv:TenderTypeSerializedCountType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="TenderType" type="xs:NCName" use="required"/>
	</xs:complexType>
	<xs:complexType name="TenderTotalType">
		<xs:sequence>
			<xs:element name="Amount" type="dtv:DtvAmountType"/>
			<xs:element name="LocalCurrencyAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DifferenceAmount" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderCountType">
		<xs:sequence>
			<xs:element name="TenderTypeSerializedTotal" type="dtv:TenderTypeSerializedTotalType" minOccurs="0"/>
			<xs:element name="TenderTotal" type="dtv:TenderTotalType" minOccurs="0"/>
			<xs:element name="TenderDenominationCount" type="dtv:TenderDenominationCountType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="TenderId" type="xs:NCName" use="required"/>
	</xs:complexType>
	<xs:complexType name="TenderTypeSerializedTotalType">
		<xs:sequence>
			<xs:element name="Amount" type="dtv:DtvAmountType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderDenominationCountType">
		<xs:sequence>
			<xs:element name="TenderDenominationTotal" type="dtv:TenderDenominationTotalType"/>
		</xs:sequence>
		<xs:attribute name="TenderDenominationId" type="xs:NCName" use="required"/>
	</xs:complexType>
	<xs:complexType name="TenderDenominationTotalType">
		<xs:sequence>
			<xs:element name="Amount" type="dtv:DtvAmountType"/>
			<xs:element name="DifferenceAmount" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderTypeSerializedCountType">
		<xs:sequence>
			<xs:element name="TenderCount" type="dtv:TenderCountType"/>
		</xs:sequence>
		<xs:attribute name="TenderType" type="xs:NCName" use="required"/>
	</xs:complexType>
	<xs:complexType name="SafeBagTransactionType">
		<xs:sequence>
			<xs:element name="TransactionID" type="xs:integer"/>
			<xs:element name="SafeBagId" type="xs:string"/>
			<xs:element name="Amount" type="dtv:DtvAmountType"/>
			<xs:element name="Currency" type="xs:NCName"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SafeBagType">
		<xs:sequence>
			<xs:element name="SafeBagId" type="xs:string"/>
			<xs:element name="Amount" type="dtv:DtvAmountType"/>
			<xs:element name="ReasonCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DtvAmountType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="Action" type="xs:string"/>
				<xs:attribute name="Currency" type="xs:NCName"/>
				<xs:attribute name="ForeignAmount" type="xs:decimal"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SystemCycleType" type="xs:string"/>
	<xs:element name="PostVoidComment" type="xs:string"/>
	<xs:element name="Ps2000" type="xs:string"/>
	<xs:element name="CardLevelIndicator" type="xs:string"/>
</xs:schema>
