release/xcenter/WEB-INF/wsdl/orce/svc_v3_1/SvcTransactionServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v3_1.svc.webservices.csx.dtv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v3_1.svc.webservices.csx.dtv.com/" name="SvcTransactionServicesApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v3_1.svc.webservices.csx.dtv.com/" schemaLocation="SvcTransactionServices.xsd"/>
</xsd:schema>
</types>
<message name="replace">
<part name="parameters" element="tns:replace"/>
</message>
<message name="replaceResponse">
<part name="parameters" element="tns:replaceResponse"/>
</message>
<message name="SvcTransactionException">
<part name="fault" element="tns:SvcTransactionException"/>
</message>
<message name="RelateProcessingException">
<part name="fault" element="tns:RelateProcessingException"/>
</message>
<message name="inquiry">
<part name="parameters" element="tns:inquiry"/>
</message>
<message name="inquiryResponse">
<part name="parameters" element="tns:inquiryResponse"/>
</message>
<message name="cashout">
<part name="parameters" element="tns:cashout"/>
</message>
<message name="cashoutResponse">
<part name="parameters" element="tns:cashoutResponse"/>
</message>
<message name="changeAuth">
<part name="parameters" element="tns:changeAuth"/>
</message>
<message name="changeAuthResponse">
<part name="parameters" element="tns:changeAuthResponse"/>
</message>
<message name="postAuth">
<part name="parameters" element="tns:postAuth"/>
</message>
<message name="postAuthResponse">
<part name="parameters" element="tns:postAuthResponse"/>
</message>
<message name="verifyAuth">
<part name="parameters" element="tns:verifyAuth"/>
</message>
<message name="verifyAuthResponse">
<part name="parameters" element="tns:verifyAuthResponse"/>
</message>
<message name="redeem">
<part name="parameters" element="tns:redeem"/>
</message>
<message name="redeemResponse">
<part name="parameters" element="tns:redeemResponse"/>
</message>
<message name="preAuth">
<part name="parameters" element="tns:preAuth"/>
</message>
<message name="preAuthResponse">
<part name="parameters" element="tns:preAuthResponse"/>
</message>
<message name="releaseAuth">
<part name="parameters" element="tns:releaseAuth"/>
</message>
<message name="releaseAuthResponse">
<part name="parameters" element="tns:releaseAuthResponse"/>
</message>
<message name="serviceCharge">
<part name="parameters" element="tns:serviceCharge"/>
</message>
<message name="serviceChargeResponse">
<part name="parameters" element="tns:serviceChargeResponse"/>
</message>
<message name="reverseTrans">
<part name="parameters" element="tns:reverseTrans"/>
</message>
<message name="reverseTransResponse">
<part name="parameters" element="tns:reverseTransResponse"/>
</message>
<message name="generateCard">
<part name="parameters" element="tns:generateCard"/>
</message>
<message name="generateCardResponse">
<part name="parameters" element="tns:generateCardResponse"/>
</message>
<message name="voidTrans">
<part name="parameters" element="tns:voidTrans"/>
</message>
<message name="voidTransResponse">
<part name="parameters" element="tns:voidTransResponse"/>
</message>
<message name="recharge">
<part name="parameters" element="tns:recharge"/>
</message>
<message name="rechargeResponse">
<part name="parameters" element="tns:rechargeResponse"/>
</message>
<message name="changeAccountExpirationDate">
<part name="parameters" element="tns:changeAccountExpirationDate"/>
</message>
<message name="changeAccountExpirationDateResponse">
<part name="parameters" element="tns:changeAccountExpirationDateResponse"/>
</message>
<message name="returnForStoreCredit">
<part name="parameters" element="tns:returnForStoreCredit"/>
</message>
<message name="returnForStoreCreditResponse">
<part name="parameters" element="tns:returnForStoreCreditResponse"/>
</message>
<message name="unblockTenderAccount">
<part name="parameters" element="tns:unblockTenderAccount"/>
</message>
<message name="unblockTenderAccountResponse">
<part name="parameters" element="tns:unblockTenderAccountResponse"/>
</message>
<message name="activateInstrument">
<part name="parameters" element="tns:activateInstrument"/>
</message>
<message name="activateInstrumentResponse">
<part name="parameters" element="tns:activateInstrumentResponse"/>
</message>
<message name="deactivateInstrument">
<part name="parameters" element="tns:deactivateInstrument"/>
</message>
<message name="deactivateInstrumentResponse">
<part name="parameters" element="tns:deactivateInstrumentResponse"/>
</message>
<message name="getLastXTransactions">
<part name="parameters" element="tns:getLastXTransactions"/>
</message>
<message name="getLastXTransactionsResponse">
<part name="parameters" element="tns:getLastXTransactionsResponse"/>
</message>
<message name="generateMultipleCards">
<part name="parameters" element="tns:generateMultipleCards"/>
</message>
<message name="generateMultipleCardsResponse">
<part name="parameters" element="tns:generateMultipleCardsResponse"/>
</message>
<portType name="SvcTransactionServicesApi">
<operation name="replace">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/replaceRequest" message="tns:replace"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/replaceResponse" message="tns:replaceResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/replace/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/replace/Fault/RelateProcessingException"/>
</operation>
<operation name="inquiry">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/inquiryRequest" message="tns:inquiry"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/inquiryResponse" message="tns:inquiryResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/inquiry/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/inquiry/Fault/RelateProcessingException"/>
</operation>
<operation name="cashout">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/cashoutRequest" message="tns:cashout"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/cashoutResponse" message="tns:cashoutResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/cashout/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/cashout/Fault/RelateProcessingException"/>
</operation>
<operation name="changeAuth">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/changeAuthRequest" message="tns:changeAuth"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/changeAuthResponse" message="tns:changeAuthResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/changeAuth/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/changeAuth/Fault/RelateProcessingException"/>
</operation>
<operation name="postAuth">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/postAuthRequest" message="tns:postAuth"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/postAuthResponse" message="tns:postAuthResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/postAuth/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/postAuth/Fault/RelateProcessingException"/>
</operation>
<operation name="verifyAuth">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/verifyAuthRequest" message="tns:verifyAuth"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/verifyAuthResponse" message="tns:verifyAuthResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/verifyAuth/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/verifyAuth/Fault/RelateProcessingException"/>
</operation>
<operation name="redeem">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/redeemRequest" message="tns:redeem"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/redeemResponse" message="tns:redeemResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/redeem/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/redeem/Fault/RelateProcessingException"/>
</operation>
<operation name="preAuth">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/preAuthRequest" message="tns:preAuth"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/preAuthResponse" message="tns:preAuthResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/preAuth/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/preAuth/Fault/RelateProcessingException"/>
</operation>
<operation name="releaseAuth">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/releaseAuthRequest" message="tns:releaseAuth"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/releaseAuthResponse" message="tns:releaseAuthResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/releaseAuth/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/releaseAuth/Fault/RelateProcessingException"/>
</operation>
<operation name="serviceCharge">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/serviceChargeRequest" message="tns:serviceCharge"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/serviceChargeResponse" message="tns:serviceChargeResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/serviceCharge/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/serviceCharge/Fault/RelateProcessingException"/>
</operation>
<operation name="reverseTrans">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/reverseTransRequest" message="tns:reverseTrans"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/reverseTransResponse" message="tns:reverseTransResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/reverseTrans/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/reverseTrans/Fault/RelateProcessingException"/>
</operation>
<operation name="generateCard">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/generateCardRequest" message="tns:generateCard"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/generateCardResponse" message="tns:generateCardResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/generateCard/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/generateCard/Fault/RelateProcessingException"/>
</operation>
<operation name="voidTrans">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/voidTransRequest" message="tns:voidTrans"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/voidTransResponse" message="tns:voidTransResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/voidTrans/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/voidTrans/Fault/RelateProcessingException"/>
</operation>
<operation name="recharge">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/rechargeRequest" message="tns:recharge"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/rechargeResponse" message="tns:rechargeResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/recharge/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/recharge/Fault/RelateProcessingException"/>
</operation>
<operation name="changeAccountExpirationDate">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/changeAccountExpirationDateRequest" message="tns:changeAccountExpirationDate"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/changeAccountExpirationDateResponse" message="tns:changeAccountExpirationDateResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/changeAccountExpirationDate/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/changeAccountExpirationDate/Fault/RelateProcessingException"/>
</operation>
<operation name="returnForStoreCredit">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/returnForStoreCreditRequest" message="tns:returnForStoreCredit"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/returnForStoreCreditResponse" message="tns:returnForStoreCreditResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/returnForStoreCredit/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/returnForStoreCredit/Fault/RelateProcessingException"/>
</operation>
<operation name="unblockTenderAccount">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/unblockTenderAccountRequest" message="tns:unblockTenderAccount"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/unblockTenderAccountResponse" message="tns:unblockTenderAccountResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/unblockTenderAccount/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/unblockTenderAccount/Fault/RelateProcessingException"/>
</operation>
<operation name="activateInstrument">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/activateInstrumentRequest" message="tns:activateInstrument"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/activateInstrumentResponse" message="tns:activateInstrumentResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/activateInstrument/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/activateInstrument/Fault/RelateProcessingException"/>
</operation>
<operation name="deactivateInstrument">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/deactivateInstrumentRequest" message="tns:deactivateInstrument"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/deactivateInstrumentResponse" message="tns:deactivateInstrumentResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/deactivateInstrument/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/deactivateInstrument/Fault/RelateProcessingException"/>
</operation>
<operation name="getLastXTransactions">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/getLastXTransactionsRequest" message="tns:getLastXTransactions"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/getLastXTransactionsResponse" message="tns:getLastXTransactionsResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/getLastXTransactions/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/getLastXTransactions/Fault/RelateProcessingException"/>
</operation>
<operation name="generateMultipleCards">
<input wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/generateMultipleCardsRequest" message="tns:generateMultipleCards"/>
<output wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/generateMultipleCardsResponse" message="tns:generateMultipleCardsResponse"/>
<fault message="tns:SvcTransactionException" name="SvcTransactionException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/generateMultipleCards/Fault/SvcTransactionException"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.svc.webservices.csx.dtv.com/SvcTransactionServicesApi/generateMultipleCards/Fault/RelateProcessingException"/>
</operation>
</portType>
<binding name="SvcTransactionServicesApiPortBinding" type="tns:SvcTransactionServicesApi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="replace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="inquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="cashout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="changeAuth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="postAuth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="verifyAuth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="redeem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="preAuth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="releaseAuth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="serviceCharge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="reverseTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="generateCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="voidTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="recharge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="changeAccountExpirationDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="returnForStoreCredit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="unblockTenderAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="activateInstrument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="deactivateInstrument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getLastXTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="generateMultipleCards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SvcTransactionException">
<soap:fault name="SvcTransactionException" use="literal"/>
</fault>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SvcTransactionServicesApiService">
<port name="SvcTransactionServicesApiPort" binding="tns:SvcTransactionServicesApiPortBinding">
<soap:address location="http://localhost:8084/xst/OrceWebServices/v3_1/SvcTransactionServicesApiService"/>
</port>
</service>
</definitions>