release/xcenter/WEB-INF/wsdl/orce/attributes_v3_1/AttributesServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v3_1.attributes.webservices.csx.dtv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v3_1.attributes.webservices.csx.dtv.com/" name="AttributesServiceApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v3_1.attributes.webservices.csx.dtv.com/" schemaLocation="AttributesServices.xsd"/>
</xsd:schema>
</types>
<message name="retrieveAttributeValueList">
<part name="parameters" element="tns:retrieveAttributeValueList"/>
</message>
<message name="retrieveAttributeValueListResponse">
<part name="parameters" element="tns:retrieveAttributeValueListResponse"/>
</message>
<message name="RelateProcessingException">
<part name="fault" element="tns:RelateProcessingException"/>
</message>
<message name="retrieveAttributes">
<part name="parameters" element="tns:retrieveAttributes"/>
</message>
<message name="retrieveAttributesResponse">
<part name="parameters" element="tns:retrieveAttributesResponse"/>
</message>
<portType name="AttributesServiceApi">
<operation name="retrieveAttributeValueList">
<input wsam:Action="http://v3_1.attributes.webservices.csx.dtv.com/AttributesServiceApi/retrieveAttributeValueListRequest" message="tns:retrieveAttributeValueList"/>
<output wsam:Action="http://v3_1.attributes.webservices.csx.dtv.com/AttributesServiceApi/retrieveAttributeValueListResponse" message="tns:retrieveAttributeValueListResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.attributes.webservices.csx.dtv.com/AttributesServiceApi/retrieveAttributeValueList/Fault/RelateProcessingException"/>
</operation>
<operation name="retrieveAttributes">
<input wsam:Action="http://v3_1.attributes.webservices.csx.dtv.com/AttributesServiceApi/retrieveAttributesRequest" message="tns:retrieveAttributes"/>
<output wsam:Action="http://v3_1.attributes.webservices.csx.dtv.com/AttributesServiceApi/retrieveAttributesResponse" message="tns:retrieveAttributesResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.attributes.webservices.csx.dtv.com/AttributesServiceApi/retrieveAttributes/Fault/RelateProcessingException"/>
</operation>
</portType>
<binding name="AttributesServiceApiPortBinding" type="tns:AttributesServiceApi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAttributeValueList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAttributes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AttributesServiceApiService">
<port name="AttributesServiceApiPort" binding="tns:AttributesServiceApiPortBinding">
<soap:address location="http://localhost:8084/xst/OrceWebServices/v3_1/AttributesServiceApiService"/>
</port>
</service>
</definitions>