release/xcenter/WEB-INF/wsdl/orce/award_v3_1/AwardAccountServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v3_1.award.webservices.csx.dtv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v3_1.award.webservices.csx.dtv.com/" name="AwardAccountServicesApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v3_1.award.webservices.csx.dtv.com/" schemaLocation="AwardAccountServices.xsd"/>
</xsd:schema>
</types>
<message name="reverse">
<part name="parameters" element="tns:reverse"/>
</message>
<message name="reverseResponse">
<part name="parameters" element="tns:reverseResponse"/>
</message>
<message name="RelateProcessingException">
<part name="fault" element="tns:RelateProcessingException"/>
</message>
<message name="automaticRedeem">
<part name="parameters" element="tns:automaticRedeem"/>
</message>
<message name="automaticRedeemResponse">
<part name="parameters" element="tns:automaticRedeemResponse"/>
</message>
<message name="issueCoupon">
<part name="parameters" element="tns:issueCoupon"/>
</message>
<message name="issueCouponResponse">
<part name="parameters" element="tns:issueCouponResponse"/>
</message>
<message name="redeemCoupons">
<part name="parameters" element="tns:redeemCoupons"/>
</message>
<message name="redeemCouponsResponse">
<part name="parameters" element="tns:redeemCouponsResponse"/>
</message>
<message name="inquiry">
<part name="parameters" element="tns:inquiry"/>
</message>
<message name="inquiryResponse">
<part name="parameters" element="tns:inquiryResponse"/>
</message>
<message name="getAwardAccountHistory">
<part name="parameters" element="tns:getAwardAccountHistory"/>
</message>
<message name="getAwardAccountHistoryResponse">
<part name="parameters" element="tns:getAwardAccountHistoryResponse"/>
</message>
<message name="expireCoupons">
<part name="parameters" element="tns:expireCoupons"/>
</message>
<message name="expireCouponsResponse">
<part name="parameters" element="tns:expireCouponsResponse"/>
</message>
<portType name="AwardAccountServicesApi">
<operation name="reverse">
<input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/reverseRequest" message="tns:reverse"/>
<output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/reverseResponse" message="tns:reverseResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/reverse/Fault/RelateProcessingException"/>
</operation>
<operation name="automaticRedeem">
<input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/automaticRedeemRequest" message="tns:automaticRedeem"/>
<output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/automaticRedeemResponse" message="tns:automaticRedeemResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/automaticRedeem/Fault/RelateProcessingException"/>
</operation>
<operation name="issueCoupon">
<input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/issueCouponRequest" message="tns:issueCoupon"/>
<output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/issueCouponResponse" message="tns:issueCouponResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/issueCoupon/Fault/RelateProcessingException"/>
</operation>
<operation name="redeemCoupons">
<input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/redeemCouponsRequest" message="tns:redeemCoupons"/>
<output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/redeemCouponsResponse" message="tns:redeemCouponsResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/redeemCoupons/Fault/RelateProcessingException"/>
</operation>
<operation name="inquiry">
<input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/inquiryRequest" message="tns:inquiry"/>
<output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/inquiryResponse" message="tns:inquiryResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/inquiry/Fault/RelateProcessingException"/>
</operation>
<operation name="getAwardAccountHistory">
<input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/getAwardAccountHistoryRequest" message="tns:getAwardAccountHistory"/>
<output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/getAwardAccountHistoryResponse" message="tns:getAwardAccountHistoryResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/getAwardAccountHistory/Fault/RelateProcessingException"/>
</operation>
<operation name="expireCoupons">
<input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/expireCouponsRequest" message="tns:expireCoupons"/>
<output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/expireCouponsResponse" message="tns:expireCouponsResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/expireCoupons/Fault/RelateProcessingException"/>
</operation>
</portType>
<binding name="AwardAccountServicesApiPortBinding" type="tns:AwardAccountServicesApi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reverse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="automaticRedeem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="issueCoupon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="redeemCoupons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="inquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getAwardAccountHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="expireCoupons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AwardAccountServicesApiService">
<port name="AwardAccountServicesApiPort" binding="tns:AwardAccountServicesApiPortBinding">
<soap:address location="http://localhost:8084/xst/OrceWebServices/v3_1/AwardAccountServicesApiService"/>
</port>
</service>
</definitions>