release/xcenter/WEB-INF/wsdl/orce/promotion_v1_0/SerializedCouponServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v1_0.promotion.webservices.csx.dtv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v1_0.promotion.webservices.csx.dtv.com/" name="SerializedCouponServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://v1_0.promotion.webservices.csx.dtv.com/" schemaLocation="SerializedCouponServices.xsd"/>
</xsd:schema>
</types>
<message name="voidCoupons">
<part name="parameters" element="tns:voidCoupons"/>
</message>
<message name="voidCouponsResponse">
<part name="parameters" element="tns:voidCouponsResponse"/>
</message>
<message name="RelateProcessingException">
<part name="fault" element="tns:RelateProcessingException"/>
</message>
<message name="redeemCoupons">
<part name="parameters" element="tns:redeemCoupons"/>
</message>
<message name="redeemCouponsResponse">
<part name="parameters" element="tns:redeemCouponsResponse"/>
</message>
<message name="validateCoupons">
<part name="parameters" element="tns:validateCoupons"/>
</message>
<message name="validateCouponsResponse">
<part name="parameters" element="tns:validateCouponsResponse"/>
</message>
<message name="generateCouponsForPromotion">
<part name="parameters" element="tns:generateCouponsForPromotion"/>
</message>
<message name="generateCouponsForPromotionResponse">
<part name="parameters" element="tns:generateCouponsForPromotionResponse"/>
</message>
<message name="generateNewCoupon">
<part name="parameters" element="tns:generateNewCoupon"/>
</message>
<message name="generateNewCouponResponse">
<part name="parameters" element="tns:generateNewCouponResponse"/>
</message>
<portType name="SerializedCouponService">
<operation name="voidCoupons">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/voidCouponsRequest" message="tns:voidCoupons"/>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/voidCouponsResponse" message="tns:voidCouponsResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/voidCoupons/Fault/RelateProcessingException"/>
</operation>
<operation name="redeemCoupons">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/redeemCouponsRequest" message="tns:redeemCoupons"/>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/redeemCouponsResponse" message="tns:redeemCouponsResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/redeemCoupons/Fault/RelateProcessingException"/>
</operation>
<operation name="validateCoupons">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/validateCouponsRequest" message="tns:validateCoupons"/>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/validateCouponsResponse" message="tns:validateCouponsResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/validateCoupons/Fault/RelateProcessingException"/>
</operation>
<operation name="generateCouponsForPromotion">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateCouponsForPromotionRequest" message="tns:generateCouponsForPromotion"/>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateCouponsForPromotionResponse" message="tns:generateCouponsForPromotionResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateCouponsForPromotion/Fault/RelateProcessingException"/>
</operation>
<operation name="generateNewCoupon">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateNewCouponRequest" message="tns:generateNewCoupon"/>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateNewCouponResponse" message="tns:generateNewCouponResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateNewCoupon/Fault/RelateProcessingException"/>
</operation>
</portType>
<binding name="SerializedCouponServicePortBinding" type="tns:SerializedCouponService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="voidCoupons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="redeemCoupons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="validateCoupons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="generateCouponsForPromotion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="generateNewCoupon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SerializedCouponServiceService">
<port name="SerializedCouponServicePort" binding="tns:SerializedCouponServicePortBinding">
<soap:address location="http://localhost:8084/xst/OrceWebServices/v1_0/SerializedCouponServiceService"/>
</port>
</service>
</definitions>