release/xcenter/WEB-INF/wsdl/orce/task_v1_2/TaskServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v1_2.task.webservices.csx.dtv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v1_2.task.webservices.csx.dtv.com/" name="TaskServicesApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v1_2.task.webservices.csx.dtv.com/" schemaLocation="TaskServices.xsd"/>
</xsd:schema>
</types>
<message name="saveOrUpdateTask">
<part name="parameters" element="tns:saveOrUpdateTask"/>
</message>
<message name="saveOrUpdateTaskResponse">
<part name="parameters" element="tns:saveOrUpdateTaskResponse"/>
</message>
<message name="RelateProcessingException">
<part name="fault" element="tns:RelateProcessingException"/>
</message>
<message name="addTaskNotes">
<part name="parameters" element="tns:addTaskNotes"/>
</message>
<message name="addTaskNotesResponse">
<part name="parameters" element="tns:addTaskNotesResponse"/>
</message>
<message name="getTaskTypeCodes">
<part name="parameters" element="tns:getTaskTypeCodes"/>
</message>
<message name="getTaskTypeCodesResponse">
<part name="parameters" element="tns:getTaskTypeCodesResponse"/>
</message>
<message name="saveTaskStatus">
<part name="parameters" element="tns:saveTaskStatus"/>
</message>
<message name="saveTaskStatusResponse">
<part name="parameters" element="tns:saveTaskStatusResponse"/>
</message>
<message name="getTaskNotes">
<part name="parameters" element="tns:getTaskNotes"/>
</message>
<message name="getTaskNotesResponse">
<part name="parameters" element="tns:getTaskNotesResponse"/>
</message>
<message name="getTaskList">
<part name="parameters" element="tns:getTaskList"/>
</message>
<message name="getTaskListResponse">
<part name="parameters" element="tns:getTaskListResponse"/>
</message>
<message name="getTaskPriorityCodes">
<part name="parameters" element="tns:getTaskPriorityCodes"/>
</message>
<message name="getTaskPriorityCodesResponse">
<part name="parameters" element="tns:getTaskPriorityCodesResponse"/>
</message>
<message name="getTaskStatusCodes">
<part name="parameters" element="tns:getTaskStatusCodes"/>
</message>
<message name="getTaskStatusCodesResponse">
<part name="parameters" element="tns:getTaskStatusCodesResponse"/>
</message>
<portType name="TaskServicesApi">
<operation name="saveOrUpdateTask">
<input wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/saveOrUpdateTaskRequest" message="tns:saveOrUpdateTask"/>
<output wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/saveOrUpdateTaskResponse" message="tns:saveOrUpdateTaskResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/saveOrUpdateTask/Fault/RelateProcessingException"/>
</operation>
<operation name="addTaskNotes">
<input wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/addTaskNotesRequest" message="tns:addTaskNotes"/>
<output wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/addTaskNotesResponse" message="tns:addTaskNotesResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/addTaskNotes/Fault/RelateProcessingException"/>
</operation>
<operation name="getTaskTypeCodes">
<input wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskTypeCodesRequest" message="tns:getTaskTypeCodes"/>
<output wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskTypeCodesResponse" message="tns:getTaskTypeCodesResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskTypeCodes/Fault/RelateProcessingException"/>
</operation>
<operation name="saveTaskStatus">
<input wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/saveTaskStatusRequest" message="tns:saveTaskStatus"/>
<output wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/saveTaskStatusResponse" message="tns:saveTaskStatusResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/saveTaskStatus/Fault/RelateProcessingException"/>
</operation>
<operation name="getTaskNotes">
<input wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskNotesRequest" message="tns:getTaskNotes"/>
<output wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskNotesResponse" message="tns:getTaskNotesResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskNotes/Fault/RelateProcessingException"/>
</operation>
<operation name="getTaskList">
<input wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskListRequest" message="tns:getTaskList"/>
<output wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskListResponse" message="tns:getTaskListResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskList/Fault/RelateProcessingException"/>
</operation>
<operation name="getTaskPriorityCodes">
<input wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskPriorityCodesRequest" message="tns:getTaskPriorityCodes"/>
<output wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskPriorityCodesResponse" message="tns:getTaskPriorityCodesResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskPriorityCodes/Fault/RelateProcessingException"/>
</operation>
<operation name="getTaskStatusCodes">
<input wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskStatusCodesRequest" message="tns:getTaskStatusCodes"/>
<output wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskStatusCodesResponse" message="tns:getTaskStatusCodesResponse"/>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_2.task.webservices.csx.dtv.com/TaskServicesApi/getTaskStatusCodes/Fault/RelateProcessingException"/>
</operation>
</portType>
<binding name="TaskServicesApiPortBinding" type="tns:TaskServicesApi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saveOrUpdateTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="addTaskNotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getTaskTypeCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="saveTaskStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getTaskNotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getTaskList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getTaskPriorityCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
<operation name="getTaskStatusCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="TaskServicesApiService">
<port name="TaskServicesApiPort" binding="tns:TaskServicesApiPortBinding">
<soap:address location="http://localhost:8084/xst/OrceWebServices/v1_2/TaskServicesApiService"/>
</port>
</service>
</definitions>